body {
  background: #007AB3;
}
div {
  color: #ffffff;
  font-size: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  text-align: center;
  width: 50%;  
}
div:first-child + div{
  font-size: 48;
  font-weight: 700;
}
div:last-child img {
  width: calc(100% / 3);
}

