body {
    background: #007AB3;
    font-family: "Helvetica Neue", sans-serif;
	overflow-x: hidden;
}

img.logo {
    height: 20%;
    width: 20%;
}

p.title {
    color: var(--bs-white);
    font-size: 82px;
    font-weight: 200;
    margin-bottom: 0;
}

p.subtitle {
    color: var(--bs-white);
    font-size: 34px;
    font-weight: 400;
    margin-top: -15px;
}

p.description {
    color: var(--bs-white);
    font-size: 20px;
    font-weight: 200;
}

p.section {
    color: var(--bs-white);
    font-size: 26px;
    font-weight: 400;
}

p.email a {
    color: var(--bs-white);
    font-size: 26px;
    font-weight: 200;
    text-decoration: none;
}

p.email a:hover {
    color: #BDE9FF;
}

p.copyright {
    color: var(--bs-white);
    font-size: 20px;
    font-weight: 200;
}

img.screenshot {
    height: 80%;
    width: 80%;
}

div.accordion {
    font-family: "Helvetica Neue", sans-serif;
}

button.accordion-button {
    color: #44566C;
    font-size: 21px;
    font-weight: 400;
}

button.accordion-button:focus {
    box-shadow: none;
    color: #44566C;
}

button.accordion-button:not(.collapsed) {
    color: #44566C;
}

div.accordion-body {
    color: #44566C;
    font-size: 18px;
    font-weight: 200;
    text-align: justify;
}
